# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store

# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/

# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# drone
.drone.yml

# editorconfig
.editorconfig

# customized values
values2.yml
values2.yaml

# helm packages
*.tgz
.helmignore
unittests

# markdownlint
.markdownlint.yml
.markdownlint.yaml
.markdownlintignore

# npm
.prettierignore
.npmrc
package*

# yamllint
.yamllint.yaml

# Others
CONTRIBUTING.md
CODEOWNERS
Makefile
renovate.json
